* {
    margin: 0px;
}

main {
    background-color: rgba(255, 0, 0, 0.452);
}

.titulo1 {
    padding: 5rem;
    color: red;
    font-size: 4rem;
}

#titulo2 {
    color: blue;
    font-size: 4rem;
    font-weight: bold;
}

p {
    color: red;
}

#sessao1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    gap: 5%;
}

#btn-texto{ /* estilização do botão */
    color:red;
    font-size: 25px;
    border: 2px solid black;
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    border-radius: 10px;
    
}
#btn-texto:hover{ /* estilo ao deixar o mouse sobre */
    background-color: lightgrey; 
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
}